Backup1/Nova Escola/Web References/MaisEscolaWeb/Service5.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="WS5">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="senha" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Operacao" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="idcidade" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="escola" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ip" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WS5Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WS5Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="WS5SoapIn">
    <wsdl:part name="parameters" element="tns:WS5" />
  </wsdl:message>
  <wsdl:message name="WS5SoapOut">
    <wsdl:part name="parameters" element="tns:WS5Response" />
  </wsdl:message>
  <wsdl:message name="WS5HttpGetIn">
    <wsdl:part name="usuario" type="s:string" />
    <wsdl:part name="senha" type="s:string" />
    <wsdl:part name="Operacao" type="s:string" />
    <wsdl:part name="idcidade" type="s:string" />
    <wsdl:part name="escola" type="s:string" />
    <wsdl:part name="ip" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WS5HttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="WS5HttpPostIn">
    <wsdl:part name="usuario" type="s:string" />
    <wsdl:part name="senha" type="s:string" />
    <wsdl:part name="Operacao" type="s:string" />
    <wsdl:part name="idcidade" type="s:string" />
    <wsdl:part name="escola" type="s:string" />
    <wsdl:part name="ip" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WS5HttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="Service5Soap">
    <wsdl:operation name="WS5">
      <wsdl:input message="tns:WS5SoapIn" />
      <wsdl:output message="tns:WS5SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Service5HttpGet">
    <wsdl:operation name="WS5">
      <wsdl:input message="tns:WS5HttpGetIn" />
      <wsdl:output message="tns:WS5HttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Service5HttpPost">
    <wsdl:operation name="WS5">
      <wsdl:input message="tns:WS5HttpPostIn" />
      <wsdl:output message="tns:WS5HttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service5Soap" type="tns:Service5Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WS5">
      <soap:operation soapAction="http://tempuri.org/WS5" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service5Soap12" type="tns:Service5Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WS5">
      <soap12:operation soapAction="http://tempuri.org/WS5" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service5HttpGet" type="tns:Service5HttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="WS5">
      <http:operation location="/WS5" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service5HttpPost" type="tns:Service5HttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="WS5">
      <http:operation location="/WS5" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service5">
    <wsdl:port name="Service5Soap" binding="tns:Service5Soap">
      <soap:address location="http://ws.maisescola.com.br/ws/Service5.asmx" />
    </wsdl:port>
    <wsdl:port name="Service5Soap12" binding="tns:Service5Soap12">
      <soap12:address location="http://ws.maisescola.com.br/ws/Service5.asmx" />
    </wsdl:port>
    <wsdl:port name="Service5HttpGet" binding="tns:Service5HttpGet">
      <http:address location="http://ws.maisescola.com.br/ws/Service5.asmx" />
    </wsdl:port>
    <wsdl:port name="Service5HttpPost" binding="tns:Service5HttpPost">
      <http:address location="http://ws.maisescola.com.br/ws/Service5.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>