Nova Escola/Web References/MeusProjetos/MeusProjetos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Validar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="senha" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sistema" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidarResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ValidarSoapIn">
    <wsdl:part name="parameters" element="tns:Validar" />
  </wsdl:message>
  <wsdl:message name="ValidarSoapOut">
    <wsdl:part name="parameters" element="tns:ValidarResponse" />
  </wsdl:message>
  <wsdl:message name="ValidarHttpGetIn">
    <wsdl:part name="usuario" type="s:string" />
    <wsdl:part name="senha" type="s:string" />
    <wsdl:part name="sistema" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ValidarHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ValidarHttpPostIn">
    <wsdl:part name="usuario" type="s:string" />
    <wsdl:part name="senha" type="s:string" />
    <wsdl:part name="sistema" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ValidarHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="MeusProjetosSoap">
    <wsdl:operation name="Validar">
      <wsdl:input message="tns:ValidarSoapIn" />
      <wsdl:output message="tns:ValidarSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="MeusProjetosHttpGet">
    <wsdl:operation name="Validar">
      <wsdl:input message="tns:ValidarHttpGetIn" />
      <wsdl:output message="tns:ValidarHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="MeusProjetosHttpPost">
    <wsdl:operation name="Validar">
      <wsdl:input message="tns:ValidarHttpPostIn" />
      <wsdl:output message="tns:ValidarHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MeusProjetosSoap" type="tns:MeusProjetosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Validar">
      <soap:operation soapAction="http://tempuri.org/Validar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MeusProjetosSoap12" type="tns:MeusProjetosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Validar">
      <soap12:operation soapAction="http://tempuri.org/Validar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MeusProjetosHttpGet" type="tns:MeusProjetosHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="Validar">
      <http:operation location="/Validar" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MeusProjetosHttpPost" type="tns:MeusProjetosHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="Validar">
      <http:operation location="/Validar" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MeusProjetos">
    <wsdl:port name="MeusProjetosSoap" binding="tns:MeusProjetosSoap">
      <soap:address location="http://ws1.thiagoteixeira.com.br/MeusProjetos.asmx" />
    </wsdl:port>
    <wsdl:port name="MeusProjetosSoap12" binding="tns:MeusProjetosSoap12">
      <soap12:address location="http://ws1.thiagoteixeira.com.br/MeusProjetos.asmx" />
    </wsdl:port>
    <wsdl:port name="MeusProjetosHttpGet" binding="tns:MeusProjetosHttpGet">
      <http:address location="http://ws1.thiagoteixeira.com.br/MeusProjetos.asmx" />
    </wsdl:port>
    <wsdl:port name="MeusProjetosHttpPost" binding="tns:MeusProjetosHttpPost">
      <http:address location="http://ws1.thiagoteixeira.com.br/MeusProjetos.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>