Backup1/Nova Escola/Cabecalho.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="FichaAluno" targetNamespace="http://tempuri.org/cbTurmas.xsd" elementFormDefault="qualified" xmlns="http://tempuri.org/cbTurmas.xsd" xmlns:mstns="http://tempuri.org/cbTurmas.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Cabecalho">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="de" type="xs:string" />
        <xs:element name="nomeescola" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>